@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Éste es un sistema de administración de una inmobiliaria ficticia hecho por el alumno Sturniolo Leandro en la materia de .NET de la carrera TUDS.</p>
    <p>Utilice el menú superior para empezar.</p>
</div>
